@media screen and (max-width: 1024px) {
  .about-image {
    width: 70%;
  }
  .about-image img {
    width: 100%;
    margin-left: 16px;
  }
  .about-title h2 {
    font-size: 40px;
  }
  .feat-item {
    padding: 0px 16px;
    width: 60%;
    margin-left: 24px;
  }

  .features-text {
    max-width: 800px;
  }
  .features-section {
    width: 95%;
  }
  .footer-section {
    margin: 16px;
  }

  .footer-form {
    margin-top: 16px;
  }
  .alxelie-image {
    width: 100%;
  }
  .alxelie-image img {
    width: 100%;
  }

  .footer-text h2 {
    font-size: 40px;
  }

  .features-title h2 {
    font-size: 40px;
  }

  .list-card {
    grid-template-columns: repeat(2, minmax(0, 2fr));
  }

  .logo {
    margin-left: 9px; 
    padding: 0px 24px;
  }
  
  .hero-text{
    padding: 16px 16px;
  }
}
